.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin: 0 14px;
}
.product-details{
    margin-left: 23px;
}
.product-img{
    width: 300px;
}
.product-img img{
    width: 100%;
}
.product-name{
    color:blue;
}
.product-details button{
    display: inline-flex;
    background: tomato;
    padding: 10px 35px;
    font-size: 16px;
    color:white;
    border: none;
    text-transform: capitalize;
    border-radius: 5px;
    cursor:pointer;

}

.product-details button img{
    width:22px;
    margin-right: 14px;
}